/* Your styles here */
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 5rem;
}

.row {
  padding: 0.2rem;
  border: 1px solid black;
}

header {
}

header > .row {
}

header > .row-logo {
  padding: 0.5rem 1rem;
  background-color: blue;
}

header > .row-logo > img {
  width: 8rem;
}

header > .row-menu {
  padding: 0.5rem 1rem;
  background-color: rgb(80, 80, 182);
  color: white;
  font-size: .8rem;
}

header > .row-menu > ul {
  list-style-type: none;
}

header > .row-menu > ul > li {
  display: inline;
}

header > .row-menu > ul > li:not(:last-child) {
  margin-right: .5rem;
}

main {
  background-color: beige;
  padding: 1rem;
}

main > .row {
}

main > .row:not(:last-child) {
  margin-bottom: 1rem;
}

main > .row-shop-holiday-gift-cards {
  background-color: orange;
  text-align: center;
  height: 20%;
  padding-block: .5rem;
  color: white;
}

main > .row-shop-holiday-gift-cards > .wrapper {
  width: max-content;
  margin: auto;
}


main > .row-holiday-gift-guides {
  background-color: green;
  padding-block: 2rem;
  color: white;
}

main > .row-holiday-gift-guides > .text {
  margin: auto;
  text-align: center;
}

main > .row-holiday-gift-guides > .text > p:not(:last-child) {
  margin-bottom: 1rem;
}

main > .row-holiday-gift-guides > .text > p.bigger {
  font-size: 1.4rem;
  font-weight: bold;
}

main > .row-holiday-gift-guides > .text > p.smaller {
  font-size: .8rem;
}




main > .row-find-perfect-gift {
  background-color: white;
  padding: 0.5rem 0.8rem;
}

main > .row-find-perfect-gift > .title {
  margin-bottom: 0.3rem;
}

main > .row-find-perfect-gift > .content {
}

/* the wrapper allows for centering items horizontally */
main > .row-find-perfect-gift > .content > .wrapper {
  margin: auto;
  width: max-content;
}

main > .row-find-perfect-gift > .content > .wrapper > .card {
  display: inline-block;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 1px 1px;
  width: 10rem;
  height: 13rem;
}

main > .row-find-perfect-gift > .content > .wrapper > .card:not(:last-child) {
  margin-right: 0.5rem;
}

main > .row-play-gifting-game {
}

main > .row-play-gifting-game > .row-img {
}

main > .row-play-gifting-game > .row-img > img {
  width: 100%;
}

main > .row-play-gifting-game > .row-caption {
  text-align: center;
}

main > .row-sound-cheer {
}

main > .row-sound-cheer > .row-img {
}

main > .row-sound-cheer > .row-img > img {
  width: 100%;
}

main > .row-sound-cheer > .row-caption {
  text-align: center;
}

footer {
  background-color: blue;
}

footer > .row {
}

footer > .row-back-top {
  background-color: blue;
  text-align: center;
  padding-block: 0.5rem;
}

footer > .row-logo {
  background-color: rgb(0, 255, 26);
  padding-block: 2rem;
}

footer > .row-logo > .wrapper {
  margin: auto;
  width: max-content;
}

footer > .row-logo > .wrapper > img {
  width: 8rem;
}
