/* Your styles here */
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 5rem;
}

.row {
  padding: 0.2rem;
  border: 1px solid black;
}

header {
}

header > .row {
}

/* header: row 1 */
header > .row:nth-child(1) {
  background-color: blue;
}

/* header: row 2 */
header > .row:nth-child(2) {
  background-color: rgb(80, 80, 182);
}

main {
  background-color: beige;
  padding: 1rem;
}

main > .row {
}

main > .row:not(:last-child) {
  margin-bottom: 1rem;
}

main > .row-shop-holiday-gift-card {
  background-color: orange;
}

main > .row-holiday-gift-guides {
  background-color: green;
  padding-block: 2rem;
}

main > .row-holiday-gift-guides > .text {
  margin: auto;
  text-align: center;
}

main > .row-holiday-gift-guides > .text > p:not(:last-child) {
  margin-bottom: 1rem;
}

main > .row-find-perfect-gift {
  background-color: white;
  padding: 0.5rem 0.8rem;
}

main > .row-find-perfect-gift > .title {
    margin-bottom: .3rem;
}

main > .row-find-perfect-gift > .content {

}

/* the wrapper allows for centering items horizontally */
main > .row-find-perfect-gift > .content > .wrapper {
    margin: auto;
    width: max-content;
}

main > .row-find-perfect-gift > .content > .wrapper > .card {
    display: inline-block;
    border-radius: .3rem;
    box-shadow: 1px 1px 1px 1px;
    width: 10rem;
    height: 13rem;
}

main > .row-find-perfect-gift > .content > .wrapper > .card:not(:last-child) {
    margin-right: .5rem;
}

main > .row-play-gifting-game {

}

main > .row-play-gifting-game > .row-img {
    
}

main > .row-play-gifting-game > .row-img > img {
    width: 100%;

}

main > .row-play-gifting-game > .row-caption {
    text-align: center;
}

main > .row-sound-cheer {
}

main > .row-sound-cheer > .row-img {
}

main > .row-sound-cheer > .row-img > img {
    width: 100%;
}

main > .row-sound-cheer > .row-caption {
    text-align: center;
}

footer {
  background-color: blue;
}

footer > .row {
}

footer > .row-back-top {
  background-color: blue;
}

footer > .row-logo {
  background-color: rgb(0, 255, 26);
}
