/* Your styles here */
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0rem 17rem;
}

.row {
  /* padding: 0.2rem; */
  /* layout frame */
  /* border: 1px solid black; */
}

.action-shop {
  font-weight: bold;
  color: #195f6c;
  margin-inline: 0.5rem;
}

.capitalize {
  text-transform: capitalize;
}

.caption {
  font-size: 0.9rem;
}

.background-color-amazon-primary {
  background-color: #222f3f;
}

.background-color-amazon-secondary {
  background-color: #364759;
}

.row-caption {
  /* margin-top: -0.3rem; */
}

.anche-responsive {
  margin-block: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  font-size: 1.3rem;
}

header {
}

header > .row {
}

header > .row-logo {
  padding: 0.5rem 1rem;
}

header > .row-logo > img {
  width: 8rem;
}

header > .row-menu {
  padding: 0.5rem 1rem;
  color: white;
  font-size: 0.8rem;
}

header > .row-menu > ul {
  list-style-type: none;
}

header > .row-menu > ul > li {
  display: inline;
}

header > .row-menu > ul > li:not(:last-child) {
  margin-right: 0.5rem;
}

main {
  background-color: #e9edee;
  padding: 1rem;
}

main > .row {
}

main > .row:not(:last-child) {
  margin-bottom: 1rem;
}

main > .row-shop-holiday-gift-cards {
  background-color: #f56600;
  text-align: center;
  font-size: 0.7rem;
  height: 20%;
  padding-block: 0.5rem;
  color: white;
}

main > .row-shop-holiday-gift-cards > .wrapper {
  width: max-content;
  margin: auto;
}

main > .row-holiday-gift-guides {
  padding-block: 2rem;
  color: white;
  /* backgrounds */
  background-image: url("../../../Amazon Page/assets/images/bg-image.png");
  background-position: left top;
  background-repeat: repeat;
  background-size: 100%;
  /* height: 200px; */
}

main > .row-holiday-gift-guides > .text {
  margin: auto;
  text-align: center;
}

main > .row-holiday-gift-guides > .text > p:not(:last-child) {
  margin-bottom: 1rem;
}

main > .row-holiday-gift-guides > .text > p.bigger {
  font-size: 1.4rem;
  font-weight: bold;
}

main > .row-holiday-gift-guides > .text > p.smaller {
  font-size: 0.8rem;
}

main > .row-find-perfect-gift {
  background-color: white;
  padding: 0.8rem 0.5rem;
}

main > .row-find-perfect-gift > .title {
  margin-bottom: 0.8rem;
}

main > .row-find-perfect-gift > .content {
  /* height: 100%; */
  /* padding: .2rem; */
  /* this serves to contrast the margin-bottom of each card */
  margin-bottom: -1rem;
}

/* the wrapper allows for centering items horizontally */
main > .row-find-perfect-gift > .content > .wrapper {
  /* margin: auto; */
  /* width: max-content; */
  /* height: 100%;  */
}

main > .row-find-perfect-gift > .content > .wrapper > .card {
  display: inline-block;
  border-radius: 0.4rem;
  /* makes the child (an image) adapt to the parent's border-radius, 
  so that i dont have to set the border-radius on the image as well */
  overflow: hidden;
  box-shadow: 4px 4px 15px 2px rgba(14, 14, 14, 0.2);
  width: 23.3%;
  height: 18rem;
  min-width: 200px;
  min-height: 200px;
  margin-bottom: 1rem;
}

main > .row-find-perfect-gift > .content > .wrapper > .card:not(:last-child) {
  margin-right: 1rem;
}

main > .row-find-perfect-gift > .content > .wrapper > .card > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main > .row-play-gifting-game {
}

main > .row-play-gifting-game > .row-img {
}

main > .row-play-gifting-game > .row-img > img {
  width: 100%;
}

main > .row-play-gifting-game > .row-caption {
  text-align: center;
}

main > .row-sound-cheer {
}

main > .row-sound-cheer > .row-img {
}

main > .row-sound-cheer > .row-img > img {
  width: 100%;
}

main > .row-sound-cheer > .row-caption {
  text-align: center;
}

footer {
}

footer > .row {
}

footer > .row-back-top {
  text-align: center;
  padding-block: 0.5rem;
}

footer > .row-back-top a {
  color: white;
  font-size: 0.8rem;
}

footer > .row-logo {
  padding-block: 2rem;
}

footer > .row-logo > .wrapper {
  margin: auto;
  width: max-content;
}

footer > .row-logo > .wrapper > img {
  width: 8rem;
}
